
.label {
    color: white
}

.reactCreate {
    width: 210px;
    background-color: orangered;
    border-radius: 20px;
    border-color: orangered;
    color: white;
}

.bodyBtn {
    width: 180px;
    background-color: #0d6efd;
    border-radius: 20px;
    border-color: #0d6efd;
    color: white;

}

.footerBtn {
    background-color: whitesmoke;
    border-radius: 20px;
    border-color: whitesmoke;
    color: #0d6efd;
}