.voteWrapper {
    /* border: 2px solid rgb(89, 180, 189); */
    /* background: rgb(213, 216, 216); */
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
}

#btnUp,
#btnDown {
padding: 0;
border: none;
background: none;
}

#btnUp:hover {
    color: green;
}

#btnDown:hover {
    color: red;
}