.post {
    
    width: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 1);
    margin: 50px 0;
  }
  
  .postWrapper {
    padding: 10px;
  }
  
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .postInput {
    width: 800px;
  }

  .p {
    padding-top: 10px;
  }
  
  .profileBot {
    width: 52px;
    height: 52px;
    opacity: 80%;
    
    /* object-fit: cover; */
  }
  
 