.wrapperPost {
    
    display: flex;
    align-items: flex-start;
    height: 500px;
    width: 100%;
    margin-top: 2%;
    background-color: aliceblue;
    
}

.title {
    width: 98%;
    height: 60px;
    font-size: 1.5rem;
    margin: 1%;
}

.textarea {
    width: 98%;
    height: 200px;
    font-size: 1.2rem;
    margin: 1%;
}

.formInput {
    padding-top: 55px;
}

.rules {
    padding-top: 40px;
    padding-left: 10px;
}

.submit {
    width: 30%;
    height: 40px;
    margin: 2%;
    border-radius: 40px;
    border-color: #0275d8;
    background-color: whitesmoke;
    color: #0275d8;
    float: right;
}

.submit:hover {
    background-color: #0275d8;
    color: whitesmoke
}