.wrapper {
    
    display: flex;
    align-items: flex-start;
    height: 500px;
    width: 100%;
    margin-top: 2%;
    background-color: whitesmoke;
    
}

.title {
    width: 98%;
    height: 60px;
    font-size: 1.5rem;
    margin: 1%;
}

.textarea {
    width: 98%;
    height: 200px;
    font-size: 1.2rem;
    margin: 1%;
}

.submit {
    width: 30%;
    height: 40px;
    margin: 2%;
}