.ruleCard{
    width: 19rem;

}

.code {
    font-family: Cairo Play;
    font-size: 38px;
}

.rules {
    font-size: large;
    font-weight: 600;
    padding-bottom: 10px;
}

.bot {
    height: 50px;
    
}