.nav {
    border-bottom: 1px;
    box-shadow: 20px;
}

.codeIt {
    font-family: 'Cairo Play', cursive;
  }
  
  .signBtn:hover {
    background: rgba(58, 133, 191, 0.75);
  }
  
  .logBtn:hover {
    color: #f9f7f4;
    background-color: #f9f7f4;
    border-color: #f9f7f4;
  }