.nav {
    border-bottom: 1px;
    box-shadow: 20px;
}

.codeIt {
    font-family: 'Cairo Play', cursive;
  }
  
  .signBtn:hover {
    background: rgba(58, 133, 191, 0.75);
  }
  
  .logBtn:hover {
    color: #f9f7f4;
    background-color: #f9f7f4;
    border-color: #f9f7f4;

  }

  .myProfileBtn {
    width: 80px;
    border-radius: 20px;
    border-color: #0d6efd;
    color: #0d6efd
  }

  .logoutBtn {
    width: 80px;
    background-color: #0d6efd;
    border-radius: 20px;
    border-color: #0d6efd;
    color: white;
  }

  .myProfileBtn:hover {
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
  }
  
  .logoutBtn:hover {
    color: #0d6efd;
    background-color: #f9f7f4;
    border-color: #0d6efd;
    cursor: pointer;
  }

  .houseBtn {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    background-color: whitesmoke;
  }