.profileBar {
    /* height: 30%; */
    width: fit-content;
    overflow-y: scroll;
    position: sticky;
    /* top: 50px; */
  }

.profileContainerBar {
    padding-top: 26px;
    padding-left: 30px;
   
}

.social Button:hover{
  background-color: green;
  color: yellow
}
